.card {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 20px;
}

.cardWrapper {
  max-height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: 10px;
}

.image {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
}

.cardBody {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.cardButton {
  margin-top: auto;
  width: 35%;
  padding: 5px;
}
